# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Nathan\OneDrive\Nathan - CloudHD 2\Programacao\Workspaces\IntelliJ Geral\IntelliJ now\InstagramUtilities\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
